@model IEnumerable<GestionSeguridad.Controllers.HistorialUsuarios>

@{
    ViewBag.Title = "Auditoria";
}

<h2>Auditoria</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Accion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.NombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.NombreUsuario)
        </td>
        <td>

        </td>
    </tr>
}

</table>
